<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">

    <title>ToDo List</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>

    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>

  <body ng-controller="ToDoListController as toDoCtrl">
    <h3 id="appTitle">ToDo List</h3>

    <div>
      <form class="form-horizontal">
        <input type="text" ng-model="toDoCtrl.newTask">
        <button id="addTask" class="btn btn-success" ng-click="toDoCtrl.addTask(toDoCtrl.newTask)">Add task</button>
        <button id="removeTask" class="btn" ng-click="toDoCtrl.removeTask()">Remove task</button>
        <button id="completedFilter" class="btn" ng-click="toDoCtrl.filterCompleted()">Completed</button>
        <button id="activeFilter" class="btn" ng-click="toDoCtrl.filterActive()">Active</button>
        <button id="allFilter" class="btn" ng-click="toDoCtrl.filterAll()">All</button>
        <button id="clearAll" class="btn" ng-click="toDoCtrl.clearAll()">Clear All</button>
      </form>

      <ul class="list-group" ng-repeat="taskList in toDoCtrl.taskList">
        <li>
          <span ng-class="{'done': taskList.done}">{{taskList.title}}</span>
          <input id={{taskList.title}} type="checkbox" ng-model="taskList.done"/>
        </li>
        <br>
      </ul>
      <p id="totalTasks">Total tasks: {{toDoCtrl.countTasks()}}</p>
    </div>
  </body>
</html>
